RewriteEngine On
RewriteRule ^login$ /cgi-bin/gate_server/index.py/login [L]

SetEnv HOME
DirectoryIndex cgi-bin/gate_server/index.py index.html
Options +ExecCGI
AddHandler cgi-script .py
AddHandler cgi-script .sh
SetEnv PATH /www/webvol39/cm/ukz6s6j0jrlyy9o/shtef.in.rs/venv/bin:$PATH
SetEnv PYTHONPATH /www/webvol39/cm/ukz6s6j0jrlyy9o/shtef.in.rs/venv/lib/python3.11/site-packages
